{% extends "umealse/base.html" %}

{% block title %} umeal.se {% endblock %}

{% block content %}
    {% if tag %}
        <p>Events tagged with "{{ tag.name }}"</p>
    {% endif %}
    {% for event in events %}
    <div>
        <h2>
            <a href="{{ event.get_absolute_url }}">
                {{ event.title }}
            </a>
        </h2>
        <p class="tags">
            Tags:
            <!-- {{ event.tags.all|join:", " }} -->
            {% for tag in event.tags.all %}
            <a href="{% url 'umealse:event_list_by_tag' tag.slug %}">
                {{ tag.name }}
            </a>
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p class="date">Published {{ event.publish }} by {{ event.host }}</p>
        <div>
            {{ event.body|truncatewords:30|linebreaks }}
        </div>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=events %}
{% endblock %}
