{% extends "base.html" %}

{% block title %}{{ user.username }} - profile{% endblock %}

{% block content %}
<h1>{{ user.username }} profile</h1>
<div class="profile-picture">
    {% if user.profile.photo %}
        <img style="max-width: 100px;" src="{{ user.profile.photo.url }}" />
    {% else %}
        <img style="min-width: 100px; max-width: 100px; height: 100px; background: #ccc;" />
    {% endif %}
</div>

{% if request.user != user and user.profile not in request.user.profile.friends.all %}
    <a href="{% url 'send_friend_request' userID=user.id %}">Add to friends</a>
{% elif user.profile in request.user.profile.friends.all %}
    <a href="{% url 'delete_friend' userID=user.id %}">Delete friend</a>
{% endif %}
{% endblock %}
